:root {
  --clr-surface: #ffffff;
  --clr-surface-high: #f6f7f9;
  --clr-surface-highest: #edeef3;
  --clr-on-surface: #17181c;
  --clr-primary: #3d50f5;
  --clr-prio-normal: #d5d6db;
  --clr-prio-medium: #f5bb3d;
  --clr-prio-high: #f53d7d;
}

body {
  background-color: var(--clr-white);
  height: 100vh;

  font-family: sans-serif;
  color: var(--clr-on-surface);

  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 1fr;
}

.sidebar {
  background-color: var(--clr-surface-high);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 24px;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.logo {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--clr-primary);

  display: flex;
  align-items: center;
  gap: 8px;

  padding: 8px;
}

.sidebar-nav > button {
  text-align: start;
}

button {
  display: flex;
  align-items: center;
  gap: 8px;

  padding: 8px;
  border-radius: 8px;
}

button:hover {
  cursor: pointer;
  background-color: var(--clr-surface-highest);
}

.time-label {
  padding: 8px;
  margin-top: 16px;
}

.projects-label-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 6px 8px;
  margin-top: 16px;
}

.add-project-btn {
  background-color: var(--clr-primary);
  color: var(--clr-surface);
  font-size: 0.875rem;

  border-radius: 8px;
  padding: 4px 7px;
}

.add-project-btn:hover {
  background-color: var(--clr-primary);
  opacity: 0.7;
}

.data-selected {
  background-color: var(--clr-surface-highest);
}

.github-link {
  display: flex;
  align-items: center;
  gap: 8px;

  padding: 8px;
}

a:hover {
  text-decoration: underline;
}

.content-nav {
  font-size: 1.5rem;
  font-weight: 500;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 32px;
}

.add-task-btn {
  background-color: var(--clr-primary);
  color: var(--clr-surface);
  font-size: 1rem;

  border-radius: 8px;
  padding: 6px 10px;
}

.add-task-btn:hover {
  background-color: var(--clr-primary);
  opacity: 0.7;
}
