:root {
  --clr-surface: #ffffff;
  --clr-surface-high: #f6f7f9;
  --clr-surface-highest: #edeef3;
  --clr-on-surface: #17181c;
  --clr-primary: #3d50f5;
  --clr-prio-normal: #d5d6db;
  --clr-prio-medium: #f5bb3d;
  --clr-prio-high: #f53d7d;
}

body {
  background-color: var(--clr-white);
  height: 100vh;

  font-family: "Figtree", sans-serif;
  color: var(--clr-on-surface);

  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 1fr;
}

.sidebar {
  background-color: var(--clr-surface-high);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 24px;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.logo {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--clr-primary);

  display: flex;
  align-items: center;
  gap: 8px;

  padding: 8px;
}

.sidebar-nav > button {
  text-align: start;
}

button {
  display: inline-flex;
  align-items: center;
  gap: 8px;

  padding: 8px;
  border-radius: 8px;
}

button:hover {
  cursor: pointer;
  background-color: var(--clr-surface-highest);
}

button svg {
  pointer-events: none;
}

.time-label {
  padding: 8px;
  margin-top: 16px;
}

.projects-label-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 6px 8px;
  margin-top: 16px;
}

.add-project-btn {
  background-color: var(--clr-primary);
  color: var(--clr-surface);
  font-size: 0.875rem;

  border-radius: 8px;
  padding: 4px 7px;
}

.add-project-btn:hover {
  background-color: var(--clr-primary);
  opacity: 0.7;
}

.project-list {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.curr-page {
  background-color: var(--clr-surface-highest);
}

.github-link {
  display: flex;
  align-items: center;
  gap: 8px;

  padding: 8px;
}

a:hover {
  text-decoration: underline;
}

.content-nav {
  font-size: 1.5rem;
  font-weight: 500;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;

  padding: 32px;
}

.edit-project-btn {
  background-color: var(--clr-surface-highest);
  font-size: 1rem;

  border-radius: 8px;
  padding: 6px 10px;

  margin-left: auto;

  display: none;
}

.edit-project-btn:hover {
  background-color: var(--clr-prio-medium);
  color: var(--clr-surface);
}

.add-task-btn {
  background-color: var(--clr-primary);
  color: var(--clr-surface);
  font-size: 1rem;

  border-radius: 8px;
  padding: 6px 10px;
}

.add-task-btn:hover {
  background-color: var(--clr-primary);
  opacity: 0.7;
}

dialog {
  font-size: 1rem;
  font-weight: 400;
  width: 640px;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 16px;
  border-radius: 12px;
}

dialog h2 {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 16px;
}

dialog form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

dialog label {
  display: block;
  font-weight: 500;
  margin-bottom: 4px;
}

dialog input,
dialog select {
  display: block;
  padding: 6px 10px;
  border: 1px solid var(--clr-prio-normal);
  border-radius: 8px;
  width: 100%;
  height: 38px;
}

.confirm-btn {
  background-color: var(--clr-primary);
  color: var(--clr-surface);
  margin-right: 8px;
  padding: 6px 10px;
}

.confirm-btn:hover {
  background-color: var(--clr-primary);
  opacity: 0.7;
}

.delete-btn {
  background-color: var(--clr-prio-high);
  color: var(--clr-surface);
  margin-right: 8px;
  padding: 6px 10px;
}

.delete-btn:hover {
  background-color: var(--clr-prio-high);
  opacity: 0.7;
}

.cancel-btn {
  background-color: var(--clr-surface-highest);
  padding: 6px 10px;
}

.cancel-btn:hover {
  background-color: var(--clr-surface-highest);
  opacity: 0.7;
}

.date-priority-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 16px;
}

#content {
  padding: 0 32px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.todo-bar {
  width: 80ch;
  background-color: var(--clr-surface-high);

  display: flex;
  align-items: center;
  gap: 16px;

  padding: 16px 20px;
  border-left: 6px solid var(--clr-prio-normal);
  border-radius: 8px;
}

.medium-priority {
  border-left: 6px solid var(--clr-prio-medium);
}

.high-priority {
  border-left: 6px solid var(--clr-prio-high);
}

.edit-btn {
  padding: 6px 10px;
  background-color: var(--clr-prio-medium);
  color: var(--clr-surface);
  margin-right: 8px;
}

.edit-btn:hover {
  background-color: var(--clr-prio-medium);
  opacity: 0.7;
}

.due-date {
  font-family: "JetBrains Mono", monospace;
  font-size: 0.875rem;
  line-height: normal;
}

.marked > .due-date,
.marked > .title {
  text-decoration: solid line-through 2px;
}

.todo-btn {
  padding: 0;
}

.todo-btn:hover {
  background-color: initial;
}

.expand {
  margin-left: auto;
  padding: 2px;
}

.expand:hover {
  color: var(--clr-primary);
}

.done:hover {
  color: var(--clr-prio-medium);
}

.delete:hover {
  color: var(--clr-prio-high);
}

.empty-todo-list {
  display: grid;
  place-items: center;
  text-align: center;
}
